.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 1rem;
}

.score {
    justify-self: center;
    font-size: 2rem;
}

.controls-button-pause {
    justify-self: start;
}

.controls-button-restart {
    justify-self: end;
}

.controls-button {
    font: inherit;
    font-size: 1.5rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.controls-button:hover {
    background-color: #eee;
}
