.victory-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 1rem;
    justify-items: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: white;
    border: 2px solid black;
    padding: 1rem;
}

.victory-screen-accept {
    padding: 0.5rem 1rem;
    font: inherit;
    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
}
