.ball, .paddle {
    position: absolute;
}

.ball {
    background-color: black;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.paddle {
    background-color: black;
}

.timer {
    text-align: center;
    font-size: 2rem;
}
